.navbar-nav {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.layout-link-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}
